<%- include("partials/header.ejs") %>

<h1>Sign Up</h1>

<% if (errors.length > 0) { %>
  <ul class="form-errors">
      <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
      <% }) %>
  </ul>
<% } %>

<form action="/signup" method="POST" class="signup-form">
  <label for="first_name">First Name</label>
  <input
    id="first_name"
    name="first_name"
    type="text"
    value="<%= formData.first_name || '' %>"
    required
  />

  <label for="last_name">Last Name</label>
  <input 
    id="last_name"
    name="last_name"
    type="text"
    value="<%= formData.last_name || '' %>"
    required
   />

  <label for="email">Email</label>
  <input
    id="email"
    name="email"
    type="email"
    value="<%= formData.email || '' %>" 
    required
  />

  <label for="password">Password</label>
  <input id="password" name="password" type="password" required />

  <label for="confirm_password">Confirm Password</label>
  <input id="confirm_password" name="confirm_password" type="password" required />

  <button type="submit">Sign Up</button>
</form>

<%- include("partials/footer.ejs") %>
